{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'app1/css/bitscr_01.css' %}">
    <script src="{% static '/app1/js/jquery-3.7.1.min.js' %}"></script>
    {% block title %}{% endblock %}
</head>

<body>
  <header >
    <div class="header-container" style="max-width: 1200px; width: 80%; margin: 0 auto">
        <div class="header-top border-bottom">
            <div class="logo">
                <img src="{% static 'app1/img/logo_02.svg' %}" alt="" class="logo">
            </div>
        </div>
        <div class="header-bottom">
            <div class="background-blue" id="btn-settings">
                <img class="btn-settings-burger-sign-svg" src="{% static 'app1/img/burger_01.svg' %}" alt="=">
                <div class="btn-settings-label">SETTINGS</div>
            </div>
        </div>
    </div>
  </header>

  {% block content %}

  <div class="main-container">
      <div class="pop-up" id="pop-up">
          <div class="pop-up-container">
              <div class="pop-up-body" id="pop-up-body">
                      <p id="pop-up-title">Get Ticker List</p>
                      <form id="ticker-list-form" action="">
                          <!--<input type="text" placeholder="Name">
                          <input type="text" placeholder="tel">-->
                          <button id="load-list-btn" type="button">LOAD LIST</button>
                      </form>
                      <div id="pop-up-close" class="pop-up-close">&#10006</div>
              </div>
          </div>
      </div>

  </div>

  {% endblock %}


    <div class="footer-container" style="background-color: #344150">
        <div style="max-width: 1200px; width: 80%; margin: 0 auto">
              <footer class="pt-4  pt-md-5" >
                <div class="row">
                  <div class="col-12 col-md">
                    <img class="mb-2" src="{% static 'app1/img/logo1.png' %}" alt="" width="24" height="24">
                    <small class="d-block mb-3 text-muted">&copy; 2022–2023</small>
                  </div>
                  <div class="col-6 col-md">
                    <h5 class="footer-h5-font">Features</h5>
                    <ul class="list-unstyled text-small">
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
                    </ul>
                  </div>
                  <div class="col-6 col-md">
                    <h5 class="footer-h5-font">Resources</h5>
                    <ul class="list-unstyled text-small">
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
                    </ul>
                  </div>
                  <div class="col-6 col-md">
                    <h5 class="footer-h5-font">About</h5>
                    <ul class="list-unstyled text-small">
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
                      <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
                    </ul>
                  </div>
                </div>
              </footer>
        </div>
    </div>


  <script src="{% static 'app1/js/popup.js' %}"></script>
  </body>
</html>

