@media only screen and (max-width: 1200px) {
    .header {
        background-color: #e2adf2;
    }

    .service {
        background-color: #ff585d;
        width: 250px;
    }

    .proj {
        width: 290px;
        background-color: #ffb549;
    }
}

@media only screen and (max-width: 800px) {
    .header {
        background-color: #e2adf2;
        width: 600px;
    }

        .service {
        background-color: #ff585d;
        width: 100px;
    }

    .proj {
        width: 150px;
        background-color: #ffb549;
    }

}